@import '../../app/variables';

.button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;

  &.primary {
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 2px;
    color: white;

    &:hover {
      background-color: desaturate(darken($primary, 8%), 8%);
    }
  }
}