@import '../../app/variables';

.button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  background-color: white;
  outline: none;

  i {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    color: desaturate(darken($primary, 8%), 8%);
  }

  &.primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: white;

    &:hover {
      background-color: desaturate(darken($primary, 8%), 8%);
    }
  }
}