.toolbar {
  background-color: black;
  width: 50px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  a {
    color: white;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 0;

    &:hover,
    &.active {
      background-color: lighten(black, 20%);
    }

    i {
      font-size: 30px;
    }
  }
}