.button {
  padding: 5px 10px;
  border: none;
  background-color: darkslategray;
  color: white;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.8;
  }

  .modal {
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: white;
    box-shadow: 0px 1px 6px -1px rgba(51,49,51,0.67);
    top: 25%;
    left: 30%;
    padding: 10px;
  }
}
